<table border="1" class="table table-bordered table-responsive-md table-striped text-center table-fitting-selection ">
    <thead class="bgcolor">
    <tr>
        <th>Fitting</th>
        <th>Type</th>
        <th>K</th>
    </tr>
    </thead>
    <tbody class="table-clickable table-clickable-1K">
    <tr>
        <td>45° ell</td>
        <td>standard</td>
        <td>0.35</td>
    </tr>
    <tr>
        <td>45° ell</td>
        <td>long radius</td>
        <td>0.2</td>
    </tr>
    <tr>
        <td>90° ell</td>
        <td>standard</td>
        <td>0.75</td>
    </tr>
    <tr>
        <td>90° ell</td>
        <td>Long radius</td>
        <td>0.45</td>
    </tr>
    <tr>
        <td>90° ell</td>
        <td>Square or miter</td>
        <td>1.3</td>
    </tr>
    <tr>
        <td>180° bend</td>
        <td>close return</td>
        <td>1.5</td>
    </tr>
    <tr>
        <td>Tee</td>
        <td>standard, along run, branch blanked off</td>
        <td>0.4</td>
    </tr>
    <tr>
        <td>Tee</td>
        <td>Used as ell, entering run</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Tee</td>
        <td>Used as ell, entering branch</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Tee</td>
        <td>Branching flow</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Coupling</td>
        <td>standard</td>
        <td>0.04</td>
    </tr>
    <tr>
        <td>Union</td>
        <td>standard</td>
        <td>0.04</td>
    </tr>
    <tr>
        <td>Gate valve</td>
        <td>open</td>
        <td>0.17</td>
    </tr>
    <tr>
        <td>Gate valve</td>
        <td>3/4 open</td>
        <td>0.9</td>
    </tr>
    <tr>
        <td>Gate valve</td>
        <td>1/2 open</td>
        <td>4.5</td>
    </tr>
    <tr>
        <td>Gate valve</td>
        <td>1/4 open</td>
        <td>24</td>
    </tr>
    <tr>
        <td>Diaphragm valve</td>
        <td>open</td>
        <td>2.3</td>
    </tr>
    <tr>
        <td>Diaphragm valve</td>
        <td>3/4 open</td>
        <td>2.6</td>
    </tr>
    <tr>
        <td>Diaphragm valve</td>
        <td>1/2 open</td>
        <td>4.3</td>
    </tr>
    <tr>
        <td>Diaphragm valve</td>
        <td>1/4 open</td>
        <td>21</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>Bevel seat, open</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>Bevel seat, 1/2 open</td>
        <td>9.5</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>Composition seat, open</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>1/2 open</td>
        <td>8.5</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>Plug disk, open</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>Plug disk, 3/4 open</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>Plug disk, 1/2 open</td>
        <td>36</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>Plug disk, 1/4 open</td>
        <td>112</td>
    </tr>
    <tr>
        <td>Angle valve</td>
        <td>open</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Y or blowoff valve</td>
        <td>open</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Plug cock</td>
        <td>θ = 5°</td>
        <td>0.05</td>
    </tr>
    <tr>
        <td>Plug cock</td>
        <td>θ = 10°</td>
        <td>0.29</td>
    </tr>
    <tr>
        <td>Plug cock</td>
        <td>θ = 20°</td>
        <td>1.56</td>
    </tr>
    <tr>
        <td>Plug cock</td>
        <td>θ = 40°</td>
        <td>17.3</td>
    </tr>
    <tr>
        <td>Plug cock</td>
        <td>θ = 60°</td>
        <td>206</td>
    </tr>
    <tr>
        <td>Butterfly valve</td>
        <td>θ = 5°</td>
        <td>0.24</td>
    </tr>
    <tr>
        <td>Butterfly valve</td>
        <td>θ = 10°</td>
        <td>0.52</td>
    </tr>
    <tr>
        <td>Butterfly valve</td>
        <td>θ = 20°</td>
        <td>1.54</td>
    </tr>
    <tr>
        <td>Butterfly valve</td>
        <td>θ = 40°</td>
        <td>10.8</td>
    </tr>
    <tr>
        <td>Butterfly valve</td>
        <td>θ = 60°</td>
        <td>118</td>
    </tr>
    <tr>
        <td>Check valve</td>
        <td>swing</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Check valve</td>
        <td>Disk</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Check valve</td>
        <td>Ball</td>
        <td>70</td>
    </tr>
    <tr>
        <td>Foot valve</td>
        <td>standard</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Water meter</td>
        <td>disk</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Water meter</td>
        <td>Piston</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Water meter</td>
        <td>Rotary (star-shaped disk)</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Water meter</td>
        <td>Turbine-wheel</td>
        <td>6</td>
    </tr>
    </tbody>
</table>