<table id="table1" border="1"
       class="table table-bordered table-responsive-md table-striped text-center table-fitting-selection">
    <thead>
    <tr>
        <th>Fitting</th>
        <th>Types</th>
        <th>
            <script type="text/katex">K_{1}</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <msub>
                            <mi>K</mi>
                            <mn>1</mn>
                        </msub>
                    </mrow>
                    <annotation encoding="application/x-tex">K_{1}</annotation>
                </semantics>
            </math>
        </th>
        <th>
            <script type="text/katex">K_{\infty}</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <msub>
                            <mi>K</mi>
                            <mi mathvariant="normal">∞</mi>
                        </msub>
                    </mrow>
                    <annotation encoding="application/x-tex">K_{\infty}</annotation>
                </semantics>
            </math>
        </th>
        <th>
            <script type="text/katex">K_{d}</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <msub>
                            <mi>K</mi>
                            <mi>d</mi>
                        </msub>
                    </mrow>
                    <annotation encoding="application/x-tex">K_{d}</annotation>
                </semantics>
            </math>
        </th>
    </tr>
    </thead>
    <tbody class="table-clickable table-clickable-3K" >
    <tr>
        <td>90° Elbow, Threaded</td>
        <td>Standard Radius (R/D = 1)</td>
        <td>800</td>
        <td>0.14</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>90° Elbow, Threaded</td>
        <td>Long Radius (R/D = 1.5)</td>
        <td>800</td>
        <td>0.071</td>
        <td>11.1</td>
    </tr>
    <tr>
        <td>90° Elbow, Flanged or Welded</td>
        <td>Standard Radius (R/D = 1)</td>
        <td>800</td>
        <td>0.091</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>90° Elbow, Flanged or Welded</td>
        <td>Long Radius (R/D = 2)</td>
        <td>800</td>
        <td>0.056</td>
        <td>10.3</td>
    </tr>
    <tr>
        <td>90° Elbow, Flanged or Welded</td>
        <td>Long Radius (R/D = 4)</td>
        <td>800</td>
        <td>0.066</td>
        <td>10.3</td>
    </tr>
    <tr>
        <td>90° Elbow, Flanged or Welded</td>
        <td>Long Radius (R/D = 6)</td>
        <td>800</td>
        <td>0.075</td>
        <td>11.1</td>
    </tr>
    <tr>
        <td>90° Elbow, Mitered</td>
        <td>1 weld 90°</td>
        <td>1000</td>
        <td>0.27</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>90° Elbow, Mitered</td>

        <td>2 welds 45°</td>
        <td>800</td>
        <td>0.068</td>
        <td>10.8</td>
    </tr>
    <tr>
                <td>90° Elbow, Mitered</td>

        <td>3 welds 30°</td>
        <td>800</td>
        <td>0.035</td>
        <td>11.1</td>
    </tr>
    <tr>
        <td>45° Elbow, Threaded</td>
        <td>Standard Radius (R/D = 1)</td>
        <td>500</td>
        <td>0.071</td>
        <td>11.1</td>
    </tr>
    <tr>
                <td>45° Elbow, Threaded</td>

        <td>Long Radius (R/D = 1.5)</td>
        <td>500</td>
        <td>0.052</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>45° Elbow, Mitered</td>
        <td>1 weld 45°</td>
        <td>500</td>
        <td>0.086</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>45° Elbow, Mitered</td>

        <td>2 welds 22.5°</td>
        <td>500</td>
        <td>0.052</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>180° Bend</td>
        <td>threaded, close-return (R/D = 1)</td>
        <td>1000</td>
        <td>0.23</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>180° Bend</td>

        <td>flanged (R/D = 1)</td>
        <td>1000</td>
        <td>0.12</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>180° Bend</td>

        <td>all types (R/D = 1.5)</td>
        <td>1000</td>
        <td>0.1</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>Tee Through-branch as an Elbow</td>
        <td>threaded (r/D = 1)</td>
        <td>500</td>
        <td>0.274</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>Tee Through-branch as an Elbow</td>

        <td>threaded (r/D = 1.5)</td>
        <td>800</td>
        <td>0.14</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>Tee Through-branch as an Elbow</td>

        <td>flanged (r/D = 1)</td>
        <td>800</td>
        <td>0.28</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>Tee Through-branch as an Elbow</td>

        <td>stub-in branch</td>
        <td>1000</td>
        <td>0.34</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>Tee Run-through</td>
        <td>threaded (r/D = 1)</td>
        <td>200</td>
        <td>0.091</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>Tee Run-through</td>

        <td>flanged (r/D = 1)</td>
        <td>150</td>
        <td>0.05</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>Tee Run-through</td>

        <td>stub-in branch</td>
        <td>100</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Angle valve</td>
        <td>45°, full line size,
            <script type="text/katex">\beta</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <mi>β</mi>
                    </mrow>
                    <annotation encoding="application/x-tex">\beta</annotation>
                </semantics>
            </math>
            β= 1
        </td>
        <td>950</td>
        <td>0.25</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>Angle valve</td>

        <td>90° full line size,
            <script type="text/katex">\beta</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <mi>β</mi>
                    </mrow>
                    <annotation encoding="application/x-tex">\beta</annotation>
                </semantics>
            </math>
            β= 1
        </td>
        <td>1000</td>
        <td>0.69</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>Globe valve</td>
        <td>standard,
            <script type="text/katex">\beta</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <mi>β</mi>
                    </mrow>
                    <annotation encoding="application/x-tex">\beta</annotation>
                </semantics>
            </math>
            β= 1
        </td>
        <td>1500</td>
        <td>1.7</td>
        <td>9.5</td>
    </tr>
    <tr>
        <td>Plug valve</td>
        <td>branch flow</td>
        <td>500</td>
        <td>0.41</td>
        <td>10.6</td>
    </tr>
    <tr>
                <td>Plug valve</td>

        <td>straight through</td>
        <td>300</td>
        <td>0.084</td>
        <td>10.3</td>
    </tr>
    <tr>
                <td>Plug valve</td>

        <td>three-way (flow through)</td>
        <td>300</td>
        <td>0.14</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>Gate valve</td>
        <td>standard,
            <script type="text/katex">\beta</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <mi>β</mi>
                    </mrow>
                    <annotation encoding="application/x-tex">\beta</annotation>
                </semantics>
            </math>
            β= 1
        </td>
        <td>300</td>
        <td>0.037</td>
        <td>10.3</td>
    </tr>
    <tr>
        <td>Ball valve</td>
        <td>standard,
            <script type="text/katex">\beta</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <mi>β</mi>
                    </mrow>
                    <annotation encoding="application/x-tex">\beta</annotation>
                </semantics>
            </math>
            β= 1
        </td>
        <td>300</td>
        <td>0.017</td>
        <td>9.2</td>
    </tr>
    <tr>
        <td>Diaphragm</td>
        <td>dam type</td>
        <td>1000</td>
        <td>0.69</td>
        <td>12.9</td>
    </tr>
    <tr>
        <td>Swing check valve</td>
        <td>Vmin = 35
            <script type="text/katex">[\rho \ (\text{lb}_{\text{m}}/\text{ft}^{3})]^{-1/2}</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <mo stretchy="false">[</mo>
                        <mi>ρ</mi>
                        <mtext></mtext>
                        <mo stretchy="false">(</mo>
                        <msub>
                            <mtext>lb</mtext>
                            <mtext>m</mtext>
                        </msub>
                        <mi mathvariant="normal">/</mi>
                        <msup>
                            <mtext>ft</mtext>
                            <mn>3</mn>
                        </msup>
                        <mo stretchy="false">)</mo>
                        <msup>
                            <mo stretchy="false">]</mo>
                            <mrow>
                                <mo>−</mo>
                                <mn>1</mn>
                                <mi mathvariant="normal">/</mi>
                                <mn>2</mn>
                            </mrow>
                        </msup>
                    </mrow>
                    <annotation encoding="application/x-tex">[\rho \ (\text{lb}_{\text{m}}/\text{ft}^{3})]^{-1/2}
                    </annotation>
                </semantics>
            </math>
            [ρ (lbm​/ft3)]−1/2
        </td>
        <td>1500</td>
        <td>0.46</td>
        <td>10.6</td>
    </tr>
    <tr>
        <td>Lift check valve</td>
        <td>Vmin = 40
            <script type="text/katex">[\rho \ (\text{lb}_{\text{m}}/\text{ft}^{3})]^{-1/2}</script>
            <math xmlns="http://www.w3.org/1998/math/mathml">
                <semantics>
                    <mrow>
                        <mo stretchy="false">[</mo>
                        <mi>ρ</mi>
                        <mtext></mtext>
                        <mo stretchy="false">(</mo>
                        <msub>
                            <mtext>lb</mtext>
                            <mtext>m</mtext>
                        </msub>
                        <mi mathvariant="normal">/</mi>
                        <msup>
                            <mtext>ft</mtext>
                            <mn>3</mn>
                        </msup>
                        <mo stretchy="false">)</mo>
                        <msup>
                            <mo stretchy="false">]</mo>
                            <mrow>
                                <mo>−</mo>
                                <mn>1</mn>
                                <mi mathvariant="normal">/</mi>
                                <mn>2</mn>
                            </mrow>
                        </msup>
                    </mrow>
                    <annotation encoding="application/x-tex">[\rho \ (\text{lb}_{\text{m}}/\text{ft}^{3})]^{-1/2}
                    </annotation>
                </semantics>
            </math>
            [ρ (lbm​/ft3)]−1/2
        </td>
        <td>2000</td>
        <td>2.85</td>
        <td>10</td>
    </tr>
    </tbody>
</table>