<select class="fitting-type-select" form="system-form">
    <option value='30.00'>Elbow 90 dg [0], k=30.00</option>
    <option value='16.00'>Elbow 45 dg [1], k=16.00</option>
    <option value='50.00'>Elbow 180 dg [2], k=50.00</option>
    <option value='55.00'>Angle Valve [3], k=55.00</option>
    <option value='40.00' selected="selected">Butterfly Valve (2 to 14 in.) [4], k=40.00</option>
    <option value='3.00'>Ball Valve [5], k=3.00</option>
    <option value='8.00'>Gate Valve (Open) [6], k=8.00</option>
    <option value='340.00'>Globe Valve [7], k=340.00</option>
    <option value='600.00'>Lift-Check Valve [8], k=600.00</option>
    <option value='420.00'>Poppet Disc Valve [9], k=420.00</option>
    <option value='100.00'>Check Valve (Swing) [10], k=100.00</option>
    <option value='400.00'>Check Valve (Ball) [11], k=400.00</option>
    <option value='20.00'>Tee (Branch Blanked) [12], k=20.00</option>
    <option value='60.00'>Tee (Elbow) [13], k=60.00</option>
    <option value='9.60'>Quick Reduction d/D = 1/2 [14], k=9.60</option>
    <option value='96.00'>Quick Reduction d/D = 1/4 [15], k=96.00</option>
    <option value='1.11'>Quick Reduction d/D = 3/4 [16], k=1.11</option>
    <option value='0.25'>Border Inlet [17], k=0.25</option>
    <option value='0.78'>Normal Inlet [18], k=0.78</option>
    <option value='9.00'>Quick Expansion d/D = 1/2 [19], k=9.00</option>
    <option value='225.00'>Quick Expansion d/D = 1/4 [20], k=225.00</option>
    <option value='0.60'>Quick Expansion d/D = 3/4 [21], k=0.60</option>
    <option value='60.00'>Bend 90 dg [22], k=60.00</option>
    <option value='5.67'>Normal Reduction 2:1 [23], k=5.67</option>
    <option value='0.65'>Normal Reduction 4:3 [24], k=0.65</option>
    <option value='1.00'>Border Exit [25], k=1.00</option>
    <option value='1.00'>Normal Exit [26], k=1.00</option>
    <option value='0.00'>Fixed Delta-P [27], k=0.00</option>
​
</select>