<select>
<option value='0.307'>  1/8",['---', '---', '10S'], OD=0.405, ID=0.307</option>
<option value='0.269'>  1/8",['STD', '40', '40S'], OD=0.405, ID=0.269</option>
<option value='0.215'>  1/8",['XS', '80', '80S'], OD=0.405, ID=0.215</option>
<option value='0.410'>  1/4",['---', '---', '10S'], OD=0.54, ID=0.410</option>
<option value='0.364'>  1/4",['STD', '40', '40S'], OD=0.54, ID=0.364</option>
<option value='0.302'>  1/4",['XS', '80', '80S'], OD=0.54, ID=0.302</option>
<option value='0.545'>  3/8",['---', '---', '10S'], OD=0.675, ID=0.545</option>
<option value='0.493'>  3/8",['STD', '40', '40S'], OD=0.675, ID=0.493</option>
<option value='0.423'>  3/8",['XS', '80', '80S'], OD=0.675, ID=0.423</option>
<option value='0.710'>  1/2",['---', '---', '5S'], OD=0.84, ID=0.710</option>
<option value='0.674'>  1/2",['---', '---', '10S'], OD=0.84, ID=0.674</option>
<option value='0.622'>  1/2",['STD', '40', '40S'], OD=0.84, ID=0.622</option>
<option value='0.546'>  1/2",['XS', '80', '80S'], OD=0.84, ID=0.546</option>
<option value='0.466'>  1/2",['---', '160', '---'], OD=0.84, ID=0.466</option>
<option value='0.252'>  1/2",['XXS', '---', '---'], OD=0.84, ID=0.252</option>
<option value='0.920'>  3/4",['---', '---', '5S'], OD=1.05, ID=0.920</option>
<option value='0.884'>  3/4",['---', '---', '10S'], OD=1.05, ID=0.884</option>
<option value='0.824'>  3/4",['STD', '40', '40S'], OD=1.05, ID=0.824</option>
<option value='0.742'>  3/4",['XS', '80', '80S'], OD=1.05, ID=0.742</option>
<option value='0.612'>  3/4",['---', '160', '---'], OD=1.05, ID=0.612</option>
<option value='0.434'>  3/4",['XXS', '---', '---'], OD=1.05, ID=0.434</option>
<option value='1.185'>    1",['---', '---', '5S'], OD=1.315, ID=1.185</option>
<option value='1.097'>    1",['---', '---', '10S'], OD=1.315, ID=1.097</option>
<option value='1.049'>    1",['STD', '40', '40S'], OD=1.315, ID=1.049</option>
<option value='0.957'>    1",['XS', '80', '80S'], OD=1.315, ID=0.957</option>
<option value='0.815'>    1",['---', '160', '---'], OD=1.315, ID=0.815</option>
<option value='0.599'>    1",['XXS', '---', '---'], OD=1.315, ID=0.599</option>
<option value='1.530'>1 1/4",['---', '---', '5S'], OD=1.66, ID=1.530</option>
<option value='1.442'>1 1/4",['---', '---', '10S'], OD=1.66, ID=1.442</option>
<option value='1.380'>1 1/4",['STD', '40', '40S'], OD=1.66, ID=1.380</option>
<option value='1.278'>1 1/4",['XS', '80', '80S'], OD=1.66, ID=1.278</option>
<option value='1.160'>1 1/4",['---', '160', '---'], OD=1.66, ID=1.160</option>
<option value='0.896'>1 1/4",['XXS', '---', '---'], OD=1.66, ID=0.896</option>
<option value='1.770'>1 1/2",['---', '---', '5S'], OD=1.9, ID=1.770</option>
<option value='1.682'>1 1/2",['---', '---', '10S'], OD=1.9, ID=1.682</option>
<option value='1.610'>1 1/2",['STD', '40', '40S'], OD=1.9, ID=1.610</option>
<option value='1.500'>1 1/2",['XS', '80', '80S'], OD=1.9, ID=1.500</option>
<option value='1.338'>1 1/2",['---', '160', '---'], OD=1.9, ID=1.338</option>
<option value='1.100'>1 1/2",['XXS', '---', '---'], OD=1.9, ID=1.100</option>
<option value='2.245'>    2",['---', '---', '5S'], OD=2.375, ID=2.245</option>
<option value='2.157'>    2",['---', '---', '10S'], OD=2.375, ID=2.157</option>
<option value='2.067'>    2",['STD', '40', '40S'], OD=2.375, ID=2.067</option>
<option value='1.939'>    2",['XS', '80', '80S'], OD=2.375, ID=1.939</option>
<option value='1.687'>    2",['---', '160', '---'], OD=2.375, ID=1.687</option>
<option value='1.503'>    2",['XXS', '---', '---'], OD=2.375, ID=1.503</option>
<option value='2.709'>    2 1/2",['---', '---', '5S'], OD=2.875, ID=2.709</option>
<option value='2.635'>    2 1/2",['---', '---', '10S'], OD=2.875, ID=2.635</option>
<option value='2.469'>    2 1/2",['STD', '40', '40S'], OD=2.875, ID=2.469</option>
<option value='2.323'>    2 1/2",['XS', '80', '80S'], OD=2.875, ID=2.323</option>
<option value='2.125'>    2 1/2",['---', '160', '---'], OD=2.875, ID=2.125</option>
<option value='1.771'>    2 1/2",['XXS', '---', '---'], OD=2.875, ID=1.771</option>
<option value='3.334'>    3",['---', '---', '5S'], OD=3.5, ID=3.334</option>
<option value='3.260'>    3",['---', '---', '10S'], OD=3.5, ID=3.260</option>
<option value='3.068'>    3",['STD', '40', '40S'], OD=3.5, ID=3.068</option>
<option value='2.900'>    3",['XS', '80', '80S'], OD=3.5, ID=2.900</option>
<option value='2.624'>    3",['---', '160', '---'], OD=3.5, ID=2.624</option>
<option value='2.300'>    3",['XXS', '---', '---'], OD=3.5, ID=2.300</option>
<option value='3.834'>3 1/2",['---', '---', '5S'], OD=4, ID=3.834</option>
<option value='3.760'>3 1/2",['---', '---', '10S'], OD=4, ID=3.760</option>
<option value='3.548'>3 1/2",['STD', '40', '40S'], OD=4, ID=3.548</option>
<option value='3.364'>3 1/2",['XS', '80', '80S'], OD=4, ID=3.364</option>
<option value='4.334'>    4",['---', '---', '5S'], OD=4.5, ID=4.334</option>
<option value='4.260'>    4",['---', '---', '10S'], OD=4.5, ID=4.260</option>
<option value='4.026'>    4",['STD', '40', '40S'], OD=4.5, ID=4.026</option>
<option value='3.826'>    4",['XS', '80', '80S'], OD=4.5, ID=3.826</option>
<option value='3.624'>    4",['---', '120', '---'], OD=4.5, ID=3.624</option>
<option value='3.438'>    4",['---', '160', '---'], OD=4.5, ID=3.438</option>
<option value='3.152'>    4",['XXS', '---', '---'], OD=4.5, ID=3.152</option>
<option value='5.345'>    5",['---', '---', '5S'], OD=5.563, ID=5.345</option>
<option value='5.925'>    5",['---', '---', '10S'], OD=5.563, ID=5.925</option>
<option value='5.047'>    5",['STD', '40', '40S'], OD=5.563, ID=5.047</option>
<option value='4.813'>    5",['XS', '80', '80S'], OD=5.563, ID=4.813</option>
<option value='4.563'>    5",['---', '120', '---'], OD=5.563, ID=4.563</option>
<option value='4.313'>    5",['---', '160', '---'], OD=5.563, ID=4.313</option>
<option value='4.063'>    5",['XXS', '---', '---'], OD=5.563, ID=4.063</option>
<option value='6.407'>    6",['---', '---', '5S'], OD=6.625, ID=6.407</option>
<option value='6.357'>    6",['---', '---', '10S'], OD=6.625, ID=6.357</option>
<option value='6.065'>    6",['STD', '40', '40S'], OD=6.625, ID=6.065</option>
<option value='5.761'>    6",['XS', '80', '80S'], OD=6.625, ID=5.761</option>
<option value='5.501'>    6",['---', '120', '---'], OD=6.625, ID=5.501</option>
<option value='5.187'>    6",['---', '160', '---'], OD=6.625, ID=5.187</option>
<option value='4.897'>    6",['XXS', '---', '---'], OD=6.625, ID=4.897</option>
<option value='8.407'>    8",['---', '---', '5S'], OD=8.625, ID=8.407</option>
<option value='8.329'>    8",['---', '---', '10S'], OD=8.625, ID=8.329</option>
<option value='8.125'>    8",['---', '20', '---'], OD=8.625, ID=8.125</option>
<option value='8.071'>    8",['---', '30', '---'], OD=8.625, ID=8.071</option>
<option value='7.981'>    8",['STD', '40', '40S'], OD=8.625, ID=7.981</option>
<option value='7.813'>    8",['---', '60', '---'], OD=8.625, ID=7.813</option>
<option value='7.625'>    8",['XS', '80', '80S'], OD=8.625, ID=7.625</option>
<option value='7.437'>    8",['---', '100', '---'], OD=8.625, ID=7.437</option>
<option value='7.187'>    8",['---', '120', '---'], OD=8.625, ID=7.187</option>
<option value='7.001'>    8",['---', '140', '---'], OD=8.625, ID=7.001</option>
<option value='6.875'>    8",['XXS', '---', '---'], OD=8.625, ID=6.875</option>
<option value='6.813'>    8",['---', '160', '---'], OD=8.625, ID=6.813</option>
<option value='10.482'>    10",['---', '---', '5S'], OD=10.75, ID=10.482</option>
<option value='10.420'>    10",['---', '---', '10S'], OD=10.75, ID=10.420</option>
<option value='10.250'>    10",['---', '20', '---'], OD=10.75, ID=10.250</option>
<option value='10.136'>    10",['---', '30', '---'], OD=10.75, ID=10.136</option>
<option value='10.020'>    10",['STD', '40', '40S'], OD=10.75, ID=10.020</option>
<option value='9.750'>     10",['XS', '60', '80S'], OD=10.75, ID=9.750</option>
<option value='9.562'>     10",['---', '80', '---'], OD=10.75, ID=9.562</option>
<option value='9.312'>     10",['---', '100', '---'], OD=10.75, ID=9.312</option>
<option value='9.062'>     10",['---', '120', '---'], OD=10.75, ID=9.062</option>
<option value='8.750'>     10",['XXS', '140', '---'], OD=10.75, ID=8.750</option>
<option value='8.500'>     10",['---', '160', '---'], OD=10.75, ID=8.500</option>
<option value='12.438'>    12",['---', '---', '5S'], OD=12.75, ID=12.438</option>
<option value='12.390'>    12",['---', '---', '10S'], OD=12.75, ID=12.390</option>
<option value='12.250'>    12",['---', '20', '---'], OD=12.75, ID=12.250</option>
<option value='12.090'>    12",['---', '30', '---'], OD=12.75, ID=12.090</option>
<option value='12.000'>    12",['STD', '---', '40S'], OD=12.75, ID=12.000</option>
<option value='11.938'>    12",['---', '40', '---'], OD=12.75, ID=11.938</option>
<option value='11.750'>    12",['XS', '---', '80S'], OD=12.75, ID=11.750</option>
<option value='11.626'>    12",['---', '60', '---'], OD=12.75, ID=11.626</option>
<option value='11.374'>    12",['---', '80', '---'], OD=12.75, ID=11.374</option>
<option value='11.062'>    12",['---', '100', '---'], OD=12.75, ID=11.062</option>
<option value='10.720'>    12",['XXS', '120', '---'], OD=12.75, ID=10.720</option>
<option value='10.500'>    12",['---', '140', '---'], OD=12.75, ID=10.500</option>
<option value='10.126'>    12",['---', '160', '---'], OD=12.75, ID=10.126</option>
<option value='13.688'>    14",['---', '---', '5S'], OD=14, ID=13.688</option>
<option value='13.624'>    14",['---', '---', '10S'], OD=14, ID=13.624</option>
<option value='13.500'>    14",['---', '10', '---'], OD=14, ID=13.500</option>
<option value='13.376'>    14",['---', '20', '---'], OD=14, ID=13.376</option>
<option value='13.250'>    14",['STD', '30', '---'], OD=14, ID=13.250</option>
<option value='13.124'>    14",['---', '40', '---'], OD=14, ID=13.124</option>
<option value='13.000'>    14",['XS', '---', '---'], OD=14, ID=13.000</option>
<option value='12.812'>    14",['---', '60', '---'], OD=14, ID=12.812</option>
<option value='12.500'>    14",['---', '80', '---'], OD=14, ID=12.500</option>
<option value='12.124'>    14",['---', '100', '---'], OD=14, ID=12.124</option>
<option value='11.812'>    14",['---', '120', '---'], OD=14, ID=11.812</option>
<option value='11.500'>    14",['---', '140', '---'], OD=14, ID=11.500</option>
<option value='11.188'>    14",['---', '160', '---'], OD=14, ID=11.188</option>
<option value='15.670'>    16",['---', '---', '5S'], OD=16, ID=15.670</option>
<option value='15.624'>    16",['---', '---', '10S'], OD=16, ID=15.624</option>
<option value='15.500'>    16",['---', '10', '---'], OD=16, ID=15.500</option>
<option value='15.376'>    16",['---', '20', '---'], OD=16, ID=15.376</option>
<option value='15.250'>    16",['STD', '30', '---'], OD=16, ID=15.250</option>
<option value='15.000'>    16",['XS', '40', '---'], OD=16, ID=15.000</option>
<option value='14.688'>    16",['---', '60', '---'], OD=16, ID=14.688</option>
<option value='14.312'>    16",['---', '80', '---'], OD=16, ID=14.312</option>
<option value='13.938'>    16",['---', '100', '---'], OD=16, ID=13.938</option>
<option value='13.562'>    16",['---', '120', '---'], OD=16, ID=13.562</option>
<option value='13.124'>    16",['---', '140', '---'], OD=16, ID=13.124</option>
<option value='12.812'>    16",['---', '160', '---'], OD=16, ID=12.812</option>
<option value='17.670'>    18",['---', '---', '5S'], OD=18, ID=17.670</option>
<option value='17.624'>    18",['---', '---', '10S'], OD=18, ID=17.624</option>
<option value='17.500'>    18",['---', '10', '---'], OD=18, ID=17.500</option>
<option value='17.376'>    18",['---', '20', '---'], OD=18, ID=17.376</option>
<option value='17.250'>    18",['STD', '---', '---'], OD=18, ID=17.250</option>
<option value='17.124'>    18",['---', '30', '---'], OD=18, ID=17.124</option>
<option value='17.000'>    18",['XS', '---', '---'], OD=18, ID=17.000</option>
<option value='16.876'>    18",['---', '40', '---'], OD=18, ID=16.876</option>
<option value='16.500'>    18",['---', '60', '---'], OD=18, ID=16.500</option>
<option value='16.124'>    18",['---', '80', '---'], OD=18, ID=16.124</option>
<option value='15.688'>    18",['---', '100', '---'], OD=18, ID=15.688</option>
<option value='15.250'>    18",['---', '120', '---'], OD=18, ID=15.250</option>
<option value='14.876'>    18",['---', '140', '---'], OD=18, ID=14.876</option>
<option value='14.438'>    18",['---', '160', '---'], OD=18, ID=14.438</option>
<option value='19.624'>    20",['---', '---', '5S'], OD=20, ID=19.624</option>
<option value='19.564'>    20",['---', '---', '10S'], OD=20, ID=19.564</option>
<option value='19.500'>    20",['---', '10', '---'], OD=20, ID=19.500</option>
<option value='19.250'>    20",['STD', '20', '---'], OD=20, ID=19.250</option>
<option value='19.000'>    20",['XS', '30', '---'], OD=20, ID=19.000</option>
<option value='18.812'>    20",['---', '40', '---'], OD=20, ID=18.812</option>
<option value='18.376'>    20",['---', '60', '---'], OD=20, ID=18.376</option>
<option value='17.938'>    20",['---', '80', '---'], OD=20, ID=17.938</option>
<option value='17.438'>    20",['---', '100', '---'], OD=20, ID=17.438</option>
<option value='17.000'>    20",['---', '120', '---'], OD=20, ID=17.000</option>
<option value='16.500'>    20",['---', '140', '---'], OD=20, ID=16.500</option>
<option value='16.062'>    20",['---', '160', '---'], OD=20, ID=16.062</option>
<option value='21.625'>    22",['---', '---', '5S'], OD=22, ID=21.625</option>
<option value='21.564'>    22",['---', '---', '10S'], OD=22, ID=21.564</option>
<option value='21.500'>    22",['---', '10', '---'], OD=22, ID=21.500</option>
<option value='21.250'>    22",['STD', '20', '---'], OD=22, ID=21.250</option>
<option value='21.000'>    22",['XS', '30', '---'], OD=22, ID=21.000</option>
<option value='20.250'>    22",['---', '60', '---'], OD=22, ID=20.250</option>
<option value='19.750'>    22",['---', '80', '---'], OD=22, ID=19.750</option>
<option value='19.250'>    22",['---', '100', '---'], OD=22, ID=19.250</option>
<option value='18.750'>    22",['---', '120', '---'], OD=22, ID=18.750</option>
<option value='18.250'>    22",['---', '140', '---'], OD=22, ID=18.250</option>
<option value='17.750'>    22",['---', '160', '---'], OD=22, ID=17.750</option>
<option value='23.564'>    24",['---', '---', '5S'], OD=24, ID=23.564</option>
<option value='23.500'>    24",['---', '10', '10S'], OD=24, ID=23.500</option>
<option value='23.250'>    24",['STD', '20', '---'], OD=24, ID=23.250</option>
<option value='23.000'>    24",['XS', '---', '---'], OD=24, ID=23.000</option>
<option value='22.876'>    24",['---', '30', '---'], OD=24, ID=22.876</option>
<option value='22.624'>    24",['---', '40', '---'], OD=24, ID=22.624</option>
<option value='22.062'>    24",['---', '60', '---'], OD=24, ID=22.062</option>
<option value='21.562'>    24",['---', '80', '---'], OD=24, ID=21.562</option>
<option value='20.938'>    24",['---', '100', '---'], OD=24, ID=20.938</option>
<option value='20.376'>    24",['---', '120', '---'], OD=24, ID=20.376</option>
<option value='19.876'>    24",['---', '140', '---'], OD=24, ID=19.876</option>
<option value='19.312'>    24",['---', '160', '---'], OD=24, ID=19.312</option>
</select>