<tr class="tr-editable tr-fitting">
    <td class="pt-3-half" contenteditable="false">
        <select class="fitting-pipe-select fitting-prop" form="system-form" >
        </select>
    </td>

    <td class="pt-3-half" contenteditable="false">
        <input type="text" class="fitting-tag-input fitting-prop" form="system-form" value="VALVE01">
    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="text" class="fitting-description-input fitting-prop" value="Flow control valve" form="system-form">
    </td>
    <td class="pt-3-half td-fitting-selection " contenteditable="false">

        <button type="button" class="btn btn-primary btn-rounded btn-sm btn-inrow" data-bs-toggle="modal"
                data-bs-target="#fittingSelectionModal">
            Choose fitting
        </button>

        {% include "modalfittingselection.html" %}
        <input type="text" class="fitting-custom-type-text fitting-prop" form="system-form"
               placeholder="Fitting type" disabled>
        K=<input type="number" class="fitting-k-input fitting-prop" form="system-form" value="40"
                 onchange="calcDeltaPfitting(this)" data-is3k="false" disabled>
        <input type="number" class="fitting-k1-input fitting-prop input-hidden" form="system-form">
        <input type="number" class="fitting-kinf-input fitting-prop input-hidden" form="system-form">
        <input type="number" class="fitting-kd-input fitting-prop input-hidden" form="system-form">
        <label class="text-center"><input type="checkbox" form="system-form" class="fitting-custom-type-checkbox fitting-prop"
                      onchange="setunsetcustomfitting(this)">Custom</label>

    </td>

    <td class="pt-3-half" contenteditable="false">
        <input type="number" class="fitting-deltap-input fitting-prop" form="system-form" value="3.7310" disabled>mwg
        <label><input type="checkbox" form="system-form" class="fitting-set-deltap-input">Set</label>
    </td>
    <td class="pt-3-half">
        <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                                                                   aria-hidden="true"></i></a></span>
        <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                                                                     aria-hidden="true"></i></a></span>
    </td>
    <td>
        <span class="table-remove">
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light btn-rm">
                Remove
            </button>
        </span>
    </td>

</tr>