<tr class="tr-editable tr-editable-pipe">
    <td class="pt-3-half" contenteditable="false">
        <input type="text" class="pipe-tag-input" form="system-form" value="PIPE01" >
    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="text" class="pipe-description-input" form="system-form" value="Pump discharge">
    </td>
    <td class="pt-3-half pipe-type-td select-or-text-td" contenteditable="false">
        <input type="text" class="pipe-custom-type-text type-text" form="system-form" style="display: none;" placeholder="Pipe type">
        {% include 'pipeoptions.html' %}
        ID=<input class="pipe-ID-input" type="number" value="102.2604" form="system-form" disabled>mm
        <input type="checkbox" form="system-form" class="pipe-custom-type-input" onchange="switchtextselect(this);resetID($(this)) ">
        <label>Custom</label>

    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="text" class="pipe-custom-material-text" form="system-form" style="display: none" placeholder="Material name">
        {% include 'pipematerialoptions.html' %}
        ε=<input type="number" class="pipe-roughness-input" value="0.0457" form="system-form" disabled>mm
        <input type="checkbox" form="system-form" class="pipe-custom-material-input" onchange="switchtextselect(this);resetRough($(this))">
        <label>Custom</label>
    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="number" class="pipe-length-input" form="system-form" value="5">
    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="number" class="pipe-deltaz-input" form="system-form" value="5">
    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="number" class="pipe-velocity-input" form="system-form" value="1.35" disabled>
    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="number" class="pipe-reynolds-input" form="system-form" value="137875.69" disabled>
    </td>
    <td class="pt-3-half" contenteditable="false">
        <input type="number" class="pipe-deltap-input" form="system-form" value="862.099" disabled>
        <label><input type="checkbox" form="system-form" class="pipe-set-deltap-input">Set</label>
    </td>

    <td class="pt-3-half">
        <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
        <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a></span>
    </td>
    <td>
        <span class="table-remove">
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light btn-rm">
                Remove
            </button>
        </span>
    </td>
</tr>